{{- if .Values.secrets.keycloak.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nifi-platform.fullname" . }}-keycloak
  labels:
    {{- include "nifi-platform.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.keycloak.nifiClientSecret }}
  nifi-client-secret: {{ .Values.secrets.keycloak.nifiClientSecret }}
  {{- else }}
  nifi-client-secret: ""
  {{- end }}
  {{- if .Values.secrets.keycloak.nifiRegistryClientSecret }}
  nifi-registry-client-secret: {{ .Values.secrets.keycloak.nifiRegistryClientSecret }}
  {{- else }}
  nifi-registry-client-secret: ""
  {{- end }}
{{- end }}

{{- if .Values.secrets.ssl.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nifi-platform.fullname" . }}-ssl
  labels:
    {{- include "nifi-platform.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.ssl.keystorePassword }}
  keystore-password: {{ .Values.secrets.ssl.keystorePassword }}
  {{- else }}
  keystore-password: ""
  {{- end }}
  {{- if .Values.secrets.ssl.truststorePassword }}
  truststore-password: {{ .Values.secrets.ssl.truststorePassword }}
  {{- else }}
  truststore-password: ""
  {{- end }}
{{- end }}

{{- if and .Values.nifiRegistry.enabled (eq .Values.nifiRegistry.database.type "postgresql") .Values.secrets.database.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nifi-platform.fullname" . }}-database
  labels:
    {{- include "nifi-platform.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.database.postgresqlPassword }}
  postgresql-password: {{ .Values.secrets.database.postgresqlPassword }}
  {{- else }}
  postgresql-password: ""
  {{- end }}
{{- end }}

