# direnv configuration pour charger automatiquement KUBECONFIG
# Installation: brew install direnv (ou apt-get install direnv)
# Puis: echo 'eval "$(direnv hook bash)"' >> ~/.bashrc

export KUBECONFIG="$(pwd)/kube_config_cluster.yml"

